<div id="<%= dom_id bank_account %>">
  <p>
    <strong>Account number:</strong>
    <%= bank_account.account_number %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bank_account.user_id %>
  </p>

  <p>
    <strong>Bank:</strong>
    <%= bank_account.bank_id %>
  </p>

</div>
